/* Quiz styles */
/*Variables*/
$Base: aliceblue;
$Font:sans-serif;
$LMarg:50px;
$Pad:10px;

header {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $Pad;
    background-color: $Base;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family:$Font;
    font-size: 1em;
    font-style:oblique;
    background-color: #dadadb;
}


h1 {
    color:#58a0e0;
}

#content {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $Pad;
    background-color: $Base;
}

#list{
    border: 2px solid #064277;
    border-radius: 20px;
    background-color: $Base;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $LMarg;
    color:#58a0e0
}

ul{
    margin-left: $LMarg;
}

p{
    font-family: serif;
    font-style:normal;
}

.samplepara {
    border: 3px solid #58a0e0;
    border-radius: 5px;
    padding: $Pad;
    background-color: white;
}

footer {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $Pad;
    background-color: $Base;
}

#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}


