/* Quiz styles */
/*Variables*/
$Base: aliceblue;
$Font-sans:Sans-serif;
$Font-serifs:serif;

$LMarg:50px;
$Pad:10px;

/*Mixins*/

@mixin border($borderProps, $rad){
	border:$borderProps;
	border-radius:$rad;

}
 
header {
 @include border(2px solid #064277,20px);
    margin: 10px auto;
    padding: $Pad;
    background-color: $Base;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
	font:{
	family:$Font-sans;
	size:1em;
	style:oblique;
	}

    background-color: #dadadb;
}


h1 {
    color:#58a0e0;
}

#content {
  @include border(2px solid #064277,20px);
    margin: 10px auto;
    padding: $Pad;
    background-color: $Base;
}

#list{
   @include border(2px solid #064277,20px);
    background-color: $Base;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $LMarg;
    color:#58a0e0
}

ul{
    margin-left: $LMarg;
}

p{
	font:{
		family:$Font-serifs;
		stlye:normal;
	
}
}

.samplepara {
	
@include border(3px solid #58a0e0,5px);
    padding: $Pad;
    background-color: white;
}

footer {
 @include border(2px solid #064277,20px);
    margin: 10px auto;
    padding: $Pad;
    background-color: $Base;
}

#footer {
	    
    color: #064277;
    text-align: center;
	font: {
		size:.75em;
		style:italic;
		weight:bold;
		
	}

}



